.Cockpit {
}

.Cockpit > button {
    font: inherit;
    background-color: white;
    padding: 10px;
    width: 100px;
    border: 1px solid brown;
    cursor: pointer;
    border-radius: 10px;
}

.Cockpit > button:hover {
    color: white;
    background-color: brown;
}